<div class="model story fff-wrapper <%= mark_if_closed(substory) %> tracker<%= substory ? substory.tracker_id : '' %>" id="<%= story_html_id_or_empty(substory) %>">
  <div class="fff-wrapmiddle">
    <div class="subject story_field">
      <div class="t">
        <%=h substory.subject %>
      </div>
    </div>
  </div>
  <div class="fff-left">
    <div class="id story_field">
      <div class="t">
        <%= issue_link_or_empty(substory) %>
      </div>
    </div>
  </div>
  <div class="fff-right">
    <div class="status_id story_field">
      <div class="t">
        <%= status_label_or_default(substory) %>
      </div>
    </div>
    <% if Backlogs.setting[:story_points].blank? %>
      <div class="story_points story_field">
        <div class="t">
          <%= story_points_or_empty(substory) %>
        </div>
      </div>
    <% else %>
      <div class="story_points story_field">
        <div class="t">
          <%= story_points_or_empty(substory) %>
        </div>     
      </div>
    <% end %>
  </div>
</div>
