<!-- rb_include_scripts -->
<%= stylesheet_link_tag 'jquery/jquery.jqplot.min.css', :plugin => 'redmine_backlogs' %>
<%= if (! ((Redmine::VERSION::MAJOR == 2) && (Redmine::VERSION::MINOR >= 1)) || 
          (Redmine::VERSION::MAJOR > 2)
       ) || (controller.is_a? RbApplicationController) || (controller.is_a? RbAllProjectsController)
      javascript_include_tag 'jquery/jquery-1.7.2-ui-1.8.21-ujs-2.0.3.js', :plugin => 'redmine_backlogs'
    end
%>
<%= javascript_include_tag 'jquery/jquery.verticalfix-min.js', :plugin => 'redmine_backlogs' %>
<!--[if IE]>
<%= javascript_include_tag 'jquery/jquery.jqplot/excanvas.js', :plugin => 'redmine_backlogs' %>
<![endif]-->
<%= javascript_include_tag('jquery/jquery.jqplot/jquery.jqplot.js',
      'jquery/jquery.jqplot/plugins/jqplot.highlighter.js',
      'jquery/jquery.jqplot/plugins/jqplot.canvasTextRenderer.min.js',
      'jquery/jquery.jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js',
      'jquery/jquery.jqplot/plugins/jqplot.enhancedLegendRenderer.min.js',
      'jquery/jquery.jqplot/plugins/jqplot.dateAxisRenderer.min.js',
      'jquery/jquery.cookie.js',
      :plugin => 'redmine_backlogs') %>

<%# render the javascript_include_tags which must come before noConflict %>
<%= controller.rb_jquery_plugins if controller.respond_to?('rb_jquery_plugins') %>
<%# load our framework, it initializes the namespace and jquery.noConflict %>
<%= javascript_include_tag 'common.js', :plugin => 'redmine_backlogs' %>
<script type="text/javascript"
        src="<%= url_for(:controller => 'rb_server_variables',
                         :action => 'index', :format => 'js') %>">
</script>
<%= javascript_include_tag 'burndown.js', :plugin => 'redmine_backlogs' %>
