


<!-- MASTER BACKLOG VIEW -->
<%# early javascript before common.hs %>
<%- controller.rb_jquery_plugins = capture do %>
  <%= javascript_include_tag(
    'jquery/jquery.qtip.pack.js',
    'jquery/jquery.qtip.setup.js',
    'jquery/jquery.liveFilter.js',
    'jquery/jquery.liveFilter.setup.js',
    'jquery/jquery.multiselect.js',
    :plugin => 'redmine_backlogs') %>
<%- end %>
<%- content_for :head_tags do %>
  <script type="text/javascript"
          src="<%= url_for(:controller => 'rb_server_variables',
                           :action => 'project',
                           :project_id => @project.identifier,
                           :context => 'backlogs',
                           :format => 'js') %>">
  </script>

<script type="text/javascript"> 
    $('.story_toggled').live('click', function(){
      $(this).toggle(
        function(event){
          event.preventDefault();
          var story_id = $(this).attr("class").split(" ")[0].split("_")[1];
          $(".story" + story_id).slideDown();
          $(this).removeClass('ui-icon-carat-1-s');
          $(this).addClass('ui-icon-carat-1-n');
        },
        function(event){
          event.preventDefault();
          var story_id = $(this).attr("class").split(" ")[0].split("_")[1];
          $(".story" + story_id).slideUp();
          $(this).addClass('ui-icon-carat-1-s');
          $(this).removeClass('ui-icon-carat-1-n');
        }).trigger('click');
    });

</script>

<div id="my_for_script_div_id"></div>

  <%= javascript_include_tag(
    'master_backlog',
    'backlog',
    'backlog_options',
    'model',
    'editable_inplace',
    'sprint',
    'release',
    'issue',
    'story',
    'board_updater',
    'master_backlog_updater',
    :plugin => 'redmine_backlogs') %>
  <%= stylesheet_link_tag 'jquery/jquery.qtip.css', :plugin => 'redmine_backlogs' %>
  <%= stylesheet_link_tag 'jquery/jquery.multiselect.css', :plugin => 'redmine_backlogs' %>
  <%= stylesheet_link_tag 'master_backlog.css', :plugin => 'redmine_backlogs', :media => 'print,screen' %>
  <%= stylesheet_link_tag 'master_backlog_print.css', :plugin => 'redmine_backlogs', :media => 'print' %>
  <script type="text/javascript">RB.$(document).ready(function() { RB.$("#livefilter_controll").focus(); });</script>
  <!--[if IE]>
  <script type="text/javascript">
    RB.$(document).ready(function() {
      RB.$("#backlogs_container ul").each(function() {
        RB.$(this).find('li:odd').css('background-color', '#dddddd');
      });
    });
  </script>
  <![endif]-->
  <style type="text/css">
    <% unless User.current.allowed_to?(:update_stories, @project) %>
      #backlogs_container .stories .story{cursor:default;}
    <% end %>
    <% unless User.current.allowed_to?(:update_sprints, @project) %>
      #backlogs_container .header .model.headertext{cursor:default;}
    <% end %>
    <% if Backlogs.setting[:show_project_name] != 'enabled' %>
      .fff-middle{ margin-left:56px; } /*this should be dynamic*/
      .fff-left{ width: 56px; }
      #backlogs_container .stories .story .project{ display:none; }
    <% end %>
  </style>
  <style>
  
.fff-left{
    width: 130px;
  }
  .list_katalog{
    float: left;
  }
  #backlogs_container .stories .story .id{
    float: left;
  }
  #backlogs_container .stories .story .subject{
    margin-left: 135px;
  }
  .story_toggled{
    margin-top: 3px;
    margin-bottom: 0;
    cursor: pointer;
    display: block;
  }
  .story:after{
    content: "";
    height: 0;
    clear: both;
    width: 100%;
    display: block;
  }
  #backlogs_container .stories .tracker1{
    padding-left: 44px; 
    width: auto;
  }
  .editing .story_toggled{
    display: none !important;
  }
  .story14 .fff-left{
    width: 80px;
  }
  .story14 .subject.story_field{
    margin-left: 80px !important;
  }
  .story14 .model{
    padding-left: 46px;
    width: auto !important;
  }
</style>



<%- end %>

<%- content_for :breadcrumbs do %>
  <%= l(:label_master_backlog) %>
<%- end %>

<%- content_for :view_specific_links do %>
  <input class="filter" name="livefilter" type="text" value="" id="livefilter_controll" />
  <!-- disabled in javascript, so useless for now: a id="project_info">Info</a -->
  <a id="disable_autorefresh">Disable Auto-refresh</a>
  <a id="refresh">Refresh</a>
  <a id="multiline">Multiline</a>
<%- end %>

<%- content_for :main do %>
  <div id="backlogs_container">
  <div class="backlogs-panel-wrapper">
    <div class="backlogs-panel left-col">
      <div id="sprint_backlogs_container" class="backlogs-panel-inner">
        <%= render :partial => 'backlog', :collection => @sprint_backlogs %>
      </div>
		  <div><a id="show_completed_sprints"><%= l(:label_show_completed_sprints) %></a></div>
		  <div id="closed_sprint_backlogs_container" style="display:none"></div>
      <div id="dummy_backlog_container"></div>
    </div>
    <div class="backlogs-panel right-col">
      <div id="product_backlog_container" class="backlogs-panel-inner">
        <%= render :partial => 'backlog', :collection => @release_backlogs, :locals => {:cls => ' release_backlog'} %>
        <%= render :partial => 'backlog', :object => @product_backlog, :locals => {:cls => ' product_backlog'} %>
      </div>
    </div>
  </div>
  </div>

<%- end %>

<%- content_for :helpers do %>
  <div id="sprint_template">
    <%- sprint = RbSprint.new( :name => "sprint" ) -%>
    <%- sprint_backlog = { :sprint => sprint, :stories => nil } -%>
    <%= render :partial => "backlog", :object => sprint_backlog %>
  </div>
<%= render :partial => "rb_stories/helpers" %>
<div id="last_updated"><%= date_string_with_milliseconds(@last_update, 0.001) %></div>
<%- end %>


